@media screen and (min-width: 850px) {
  .checkBoxGroup {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 1.5em 1.5em 1.5em 1.5em 1.5em;
    color: rgb(65, 65, 65);
  }
}

@media screen and (min-width: 335px) and (max-width: 850px) {
  .checkBoxGroup {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em;
    color: rgb(65, 65, 65);
  }
}

@media screen and (max-width: 335px) {
  .checkBoxGroup {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em;
    color: rgb(65, 65, 65);
  }
}
